@import "tailwindcss";

@theme {
	--color-gray-50: var(--color-zinc-50);
	--color-gray-100: var(--color-zinc-100);
	--color-gray-200: var(--color-zinc-200);
	--color-gray-300: var(--color-zinc-300);
	--color-gray-400: var(--color-zinc-400);
	--color-gray-500: var(--color-zinc-500);
	--color-gray-600: var(--color-zinc-600);
	--color-gray-700: var(--color-zinc-700);
	--color-gray-800: var(--color-zinc-800);
	--color-gray-900: var(--color-zinc-900);
	--color-gray-950: var(--color-zinc-950);

	--color-primary-50: var(--color-pink-50);
	--color-primary-100: var(--color-pink-100);
	--color-primary-200: var(--color-pink-200);
	--color-primary-300: var(--color-pink-300);
	--color-primary-400: var(--color-pink-400);
	--color-primary-500: var(--color-pink-500);
	--color-primary-600: var(--color-pink-600);
	--color-primary-700: var(--color-pink-700);
	--color-primary-800: var(--color-pink-800);
	--color-primary-900: var(--color-pink-900);
	--color-primary-950: var(--color-pink-950);
}

@utility panel {
	@apply border-gray-700 bg-gray-800 shadow shadow-black/25;
}
